<html ng-app="form">
	<head>
		<title>Formulários</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>	
	</head>
	<body>
		<form action="" novalidate>
			Nome: <input type="text" ng-model="nome" required><br>
			Email: <input type="email" ng-model="email" required><br>
			Senha: <input type="password" ng-model="senha" required><br>
			Idade: <input type="number" ng-model="idade" required><br>
			Telefone: <input type="number" ng-model="telefone" required><br>
			<input type="submit" value="Salvar">
		</form>
	</body>
</html>