<!DOCTYPE html>
<html lang="pt-br" ng-app="HelloWorld">
<head>
	<meta charset="UTF-8">
	<title>Hello World</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-controller="MestreCtrl">
	<a href="" ng-click="toggle(true)">mostrar nome</a> - <a href="" ng-click="toggle(false)">mostrar lista</a>
	<div ng-controller="helloWorldNames" ng-show="visible">
		<input type="text" ng-model="name">
		<input type="text" ng-model="lastname">
		<input type="button" value="Salvar" ng-click="update()">

		<hr>
		Olá {{ fullName }}
	</div>
	<hr>
	<div ng-controller="helloWorldCtrl" ng-hide="visible">
		<input type="text" ng-model="obj.name">
		<input type="text" ng-model="obj.idade">
		<input type="button" value="Inserir" ng-click="inserir()">
		<ul>
			<li ng-repeat="(k, v) in list">{{ v.name }} - {{ v.idade }} - <a href="" ng-click="remover(k)">x</a></li>
		</ul>
	</div>

</body>
</html>